<% include ./partials/boilerplate.ejs %>


<div class="mainContainer">
<% dateNights.forEach((dateNight) => { %>
<div class="dataContainer">
      <h1 class="date"> Date Night </h1>
      <h1 class="great"> Great Night </h1>
      <!-- <h1 class="light"> Light it up! </h1> -->
  <h3 class="dataFields" id="date"><%= dateNight.date %></h3>
  <br>
  <h3 class="dataFields" id="time"><%= dateNight.time %></h3>
  <br>
  <h3 class="dataFields" id="location"><%= dateNight.location %></h3>
  <br>
  <h3 class="dataFields" id="description"><%= dateNight.description %></h3>
  <br>
  <h3 class="dataFields" id="url"><%= dateNight.url %></h3>
  <br>
  <br>

  <div class="logReg">
  <a href="/dateNights/<%= dateNight.id%>/edit"><button type="submit" class="indexButtons">Edit</button></a>


  <form class="delete" action="/dateNights/<%= dateNight.id%>?_method=DELETE" method="POST">
        <input class="dellink indexButtons" type="submit" value="Delete" >
  </form>
  </div>

</div>

<a href="/dateNights/new"><button type="button" id="add" class="indexButtons">Create a Date!</button></a>
<a href = '/auth/logout'><button class="indexButtons">Logout!</button></a>

<% }) %>

</div>

<br>

<br>
<br>
