<% include ./partials/boilerplate.ejs %>



<% dateNights.forEach((dateNight) => { %>
<div class="dataContainer">

  <h3 id="date"><%= dateNight.date %></h3>
  <br>
  <h3 id="time"><%= dateNight.time %></h3>
  <br>
  <h3 id="location"><%= dateNight.location %></h3>
  <br>
  <h3 id="description"><%= dateNight.description %></h3>
  <br>
  <h3 id="url"><%= dateNight.url %></h3>
  <br>

  <br>
  <a href="/dateNights/<%= dateNight.id%>/edit"><button type="submit">Edit</button></a>


  <form class="delete" action="/dateNights/<%= dateNight.id%>?_method=DELETE" method="POST">
        <input class="dellink" type="submit" value="Delete">
  </form>

</div>

<br>
<br>
<br>
<a href="/dateNights/new"><button type="button" id="add">Create a Date!</button></a>
<br>
<br>
<% }) %>

